#s-946981d4-70aa-4c8c-abd2-20ae31222f5f > #backgroundBox {
  position: absolute;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f > #alignmentBox {
  position: relative;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Path_1 {
  position: absolute;
  width: 1440.733642578125px;
  height: 945.0px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Mask_1 {
  position: absolute;
  width: 339.3793029785156px;
  height: 885.4589233398438px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Path_37 {
  position: absolute;
  width: 355.6873474121094px;
  height: 879.114013671875px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Mask_5 {
  position: absolute;
  width: 794.8883056640625px;
  height: 84.11993408203125px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Path_48 {
  position: absolute;
  width: 944.8287353515625px;
  height: 86.04779052734375px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Mask_6 {
  position: absolute;
  width: 528.893310546875px;
  height: 77.80374145507812px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Path_53 {
  position: absolute;
  width: 529.4364624023438px;
  height: 78.26730346679688px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Mask_7 {
  position: absolute;
  width: 650.50439453125px;
  height: 113.32330322265625px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Path_58 {
  position: absolute;
  width: 651.143310546875px;
  height: 113.92489624023438px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Mask_8 {
  position: absolute;
  width: 42.02032470703125px;
  height: 33.58453369140625px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Mask_9 {
  position: absolute;
  width: 188.093505859375px;
  height: 45.43365478515625px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Path_66 {
  position: absolute;
  width: 188.7694091796875px;
  height: 45.71099853515625px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Mask_10 {
  position: absolute;
  width: 42.02032470703125px;
  height: 33.58453369140625px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Mask_11 {
  position: absolute;
  width: 42.020355224609375px;
  height: 33.58453369140625px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Path_73 {
  position: absolute;
  width: 22.021484375px;
  height: 17.80364990234375px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Path_74 {
  position: absolute;
  width: 15.964752197265625px;
  height: 11.794891357421875px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Path_75 {
  position: absolute;
  width: 22.02154541015625px;
  height: 17.8035888671875px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Path_76 {
  position: absolute;
  width: 15.96478271484375px;
  height: 11.79498291015625px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Path_77 {
  position: absolute;
  width: 22.02154541015625px;
  height: 17.80364990234375px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Path_78 {
  position: absolute;
  width: 15.96478271484375px;
  height: 11.79583740234375px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_1 span {
  color: #31333C;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_1 span#rtr-s-Text_1_0 {
  color: #31333C;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_2 span {
  color: #31333C;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_2 span#rtr-s-Text_2_0 {
  color: #31333C;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_3 span {
  color: #31333C;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_3 span#rtr-s-Text_3_0 {
  color: #31333C;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_4 span {
  color: #31333C;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Text_4 span#rtr-s-Text_4_0 {
  color: #31333C;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Path_3 {
  position: absolute;
  width: 2.0px;
  height: 16.05224609375px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Path_4 {
  position: absolute;
  width: 2.0px;
  height: 16.05224609375px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Path_5 {
  position: absolute;
  width: 2.0px;
  height: 16.05224609375px;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Hotspot_1 {
  position: absolute;
  width: 92.67118162402426px;
  height: 25.762081784386567px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Hotspot_2 {
  position: absolute;
  width: 79.66469999258243px;
  height: 25.762081784386567px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Hotspot_3 {
  position: absolute;
  width: 126.5790838018471px;
  height: 25.762081784386567px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f #s-Hotspot_4 {
  position: absolute;
  width: 89.41956121616431px;
  height: 25.762081784386567px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-946981d4-70aa-4c8c-abd2-20ae31222f5f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}