#s-0d89672b-d346-47b2-a680-2f915b34ae39 > #backgroundBox {
  position: absolute;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 > #alignmentBox {
  position: relative;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_1 {
  position: absolute;
  width: 1439.9999999999995px;
  min-height: 900.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 10px rgba(64,64,64,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_2 {
  position: absolute;
  width: 563.5104895104896px;
  min-height: 899.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_2 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../../images/d0412034-46e7-4eed-a109-84020c2b2f7c.jpg');
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_2 .valign {
  vertical-align: top;
  text-align: right;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_2 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #1877F2;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_1 input::-webkit-input-placeholder {
  color: #666666;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_1 input::-moz-placeholder {
  color: #666666;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_1 input:-moz-placeholder {
  color: #666666;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_1 input:-ms-input-placeholder {
  color: #666666;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_1 {
  position: absolute;
  width: 330.0px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_1 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 17px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_1 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_1 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_1 > .borderLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_1 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_1 .paddingLayer {
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_3 {
  position: absolute;
  width: 80.74999999999955px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 8.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 8.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_2 input::-webkit-input-placeholder {
  color: #434343;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_2 input::-moz-placeholder {
  color: #434343;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_2 input:-moz-placeholder {
  color: #434343;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_2 input:-ms-input-placeholder {
  color: #434343;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_2 {
  position: absolute;
  width: 330.0px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_2 .valign {
  vertical-align: middle;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_2 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-transform: none;
  line-height: 17px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_2 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_2 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_2 > .borderLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_2 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Input_text_2 .paddingLayer {
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Path_3 {
  position: absolute;
  width: 19.5px;
  height: 13.2916259765625px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_4 {
  position: absolute;
  width: 83.74999999999955px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 8.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 8.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_5 {
  position: absolute;
  width: 120.9999999999998px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_5 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Check_1.checked > .backgroundLayer {
  background-image: url('../../../images/3436387b-3ebe-4c9e-9dbe-1b39d714eced.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Check_1.unchecked > .backgroundLayer {
  background-image: url('../../../images/c5875357-40aa-41b3-ac69-180710b6f7c8.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Check_1 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Button_1 {
  position: absolute;
  width: 148.0000000000001px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #1877F2;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Button_1 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #1877F2;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #1877F2;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #1877F2;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #1877F2;
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Button_1 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  text-transform: none;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  text-transform: none;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_3 {
  position: absolute;
  width: 60.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_3 span {
  color: #757575;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  letter-spacing: 0.9px;
  text-transform: none;
  line-height: 21px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #757575;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  letter-spacing: 0.9px;
  text-transform: none;
  line-height: 21px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Path_4 {
  position: absolute;
  width: 19.37339973449707px;
  height: 22.999984741210938px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_4 {
  position: absolute;
  width: 60.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_4 > .borderLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_4 span {
  color: #757575;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  letter-spacing: 0.9px;
  text-transform: none;
  line-height: 21px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #757575;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  letter-spacing: 0.9px;
  text-transform: none;
  line-height: 21px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Path_5 {
  position: absolute;
  width: 11.039999008178711px;
  height: 10.804893493652344px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Path_6 {
  position: absolute;
  width: 17.887699127197266px;
  height: 9.31500244140625px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Path_7 {
  position: absolute;
  width: 5.065299987792969px;
  height: 10.329399108886719px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Path_8 {
  position: absolute;
  width: 17.97140121459961px;
  height: 9.31500244140625px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_5 {
  position: absolute;
  width: 60.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_5 > .borderLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_5 span {
  color: #757575;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  letter-spacing: 0.9px;
  text-transform: none;
  line-height: 21px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #757575;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  letter-spacing: 0.9px;
  text-transform: none;
  line-height: 21px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Path_9 {
  position: absolute;
  width: 23.000001907348633px;
  height: 22.86029815673828px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Path_10 {
  position: absolute;
  width: 105.5px;
  height: 2.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Path_11 {
  position: absolute;
  width: 104.5px;
  height: 2.0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_6 {
  position: absolute;
  width: 139.5px;
  min-height: 20.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_6 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_7 {
  position: absolute;
  width: 296.5px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_7 span {
  color: #31333C;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 20.0pt;
  font-weight: 600;
  text-transform: none;
  line-height: 31px;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #31333C;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 20.0pt;
  font-weight: 600;
  text-transform: none;
  line-height: 31px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0d89672b-d346-47b2-a680-2f915b34ae39 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}