#s-5751631f-e299-4b29-9f19-ff4c385ef126 > #backgroundBox {
  position: absolute;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 > #alignmentBox {
  position: relative;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_1 {
  position: absolute;
  width: 256.0px;
  height: 901.0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_2 {
  position: absolute;
  width: 259.785400390625px;
  height: 2.0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_3 {
  position: absolute;
  width: 17.55743408203125px;
  height: 12.232879638671875px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_4 {
  position: absolute;
  width: 22.10000228881836px;
  height: 10.213235855102539px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_1 {
  position: absolute;
  width: 248.99999976158136px;
  min-height: 62.01106333494184px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #702DFF;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_2 {
  position: absolute;
  width: 43.798685368062706px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_5 {
  position: absolute;
  width: 9.810943603515625px;
  height: 1.9128875732421875px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_6 {
  position: absolute;
  width: 9.810943603515625px;
  height: 1.912872314453125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_7 {
  position: absolute;
  width: 16.94620132446289px;
  height: 22.954959869384766px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_3 {
  position: absolute;
  width: 90.95600128173822px;
  min-height: 68.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_8 {
  position: absolute;
  width: 24.626176834106445px;
  height: 12.16424560546875px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_9 {
  position: absolute;
  width: 6.411079406738281px;
  height: 6.795745849609375px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_10 {
  position: absolute;
  width: 8.565093994140625px;
  height: 9.07900619506836px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_11 {
  position: absolute;
  width: 6.41107177734375px;
  height: 6.795745849609375px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_16 {
  position: absolute;
  width: 20.0px;
  height: 21.19999885559082px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_17 {
  position: absolute;
  width: 21.299999237060547px;
  height: 22.055809020996094px;
  cursor: pointer;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_18 {
  position: absolute;
  width: 19.238998413085938px;
  height: 20.3946533203125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_19 {
  position: absolute;
  width: 7.634471893310547px;
  height: 8.092540740966797px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Input_text_1 input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Input_text_1 input::-moz-placeholder {
  color: #FFFFFF;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Input_text_1 input:-moz-placeholder {
  color: #FFFFFF;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Input_text_1 input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Input_text_1 {
  position: absolute;
  width: 256.0000000000001px;
  height: 74.2px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Input_text_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Input_text_1 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 57px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_20 {
  position: absolute;
  width: 18.499996185302734px;
  height: 19.520000457763672px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Ellipse_1 {
  width: 17.0px;
  height: 18.020000000000003px;
  min-height: 18.020000000000003px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 8.0px;
  stroke: #79EEBC;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Ellipse_2 {
  width: 12.0px;
  height: 12.720000000000006px;
  min-height: 12.720000000000006px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #FD3593;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #79EEBC;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 13.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 13.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_6 {
  position: absolute;
  width: 262.0000000000001px;
  min-height: 62.01106333494195px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_11 {
  position: absolute;
  width: 127.158203125px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_11 span {
  color: #702DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #702DFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_22 {
  position: absolute;
  width: 9.92547607421875px;
  height: 1.9128875732421875px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_23 {
  position: absolute;
  width: 9.92547607421875px;
  height: 1.912872314453125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_24 {
  position: absolute;
  width: 17.144023895263672px;
  height: 22.954959869384766px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_2 {
  position: absolute;
  width: 370.0px;
  min-height: 390.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_2 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 40px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 40px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_12 {
  position: absolute;
  width: 392.5660400390625px;
  height: 529.9432373046875px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_13 {
  position: absolute;
  width: 354.225830078125px;
  height: 205.389404296875px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_14 {
  position: absolute;
  width: 361.4561767578125px;
  height: 212.6197509765625px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_15 {
  position: absolute;
  width: 5.535400390625px;
  height: 8.322021484375px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_21 {
  position: absolute;
  width: 14.6651611328125px;
  height: 16.34149169921875px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_25 {
  position: absolute;
  width: 9.18560791015625px;
  height: 10.67724609375px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_26 {
  position: absolute;
  width: 3.6866455078125px;
  height: 3.2200927734375px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_27 {
  position: absolute;
  width: 206.3162841796875px;
  height: 14.20208740234375px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_28 {
  position: absolute;
  width: 244.8223876953125px;
  height: 12.1650390625px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_29 {
  position: absolute;
  width: 95.43243408203125px;
  height: 31.9710693359375px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_30 {
  position: absolute;
  width: 99.54754638671875px;
  height: 36.0863037109375px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_31 {
  position: absolute;
  width: 67.03521728515625px;
  height: 11.1524658203125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_32 {
  position: absolute;
  width: 42.455291748046875px;
  height: 48.880584716796875px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_33 {
  position: absolute;
  width: 5.535125732421875px;
  height: 8.32177734375px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_34 {
  position: absolute;
  width: 14.6649169921875px;
  height: 16.34130859375px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_35 {
  position: absolute;
  width: 9.18560791015625px;
  height: 10.67694091796875px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_36 {
  position: absolute;
  width: 3.68658447265625px;
  height: 3.2198486328125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_37 {
  position: absolute;
  width: 78.36846923828125px;
  height: 15.908233642578125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_38 {
  position: absolute;
  width: 244.7637939453125px;
  height: 13.56890869140625px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_39 {
  position: absolute;
  width: 11.19970703125px;
  height: 13.0184326171875px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_40 {
  position: absolute;
  width: 3.72705078125px;
  height: 4.33380126953125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_41 {
  position: absolute;
  width: 3.72705078125px;
  height: 4.33380126953125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_42 {
  position: absolute;
  width: 393.5660400390625px;
  height: 5.6727294921875px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_43 {
  position: absolute;
  width: 355.8927001953125px;
  height: 97.8507080078125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_44 {
  position: absolute;
  width: 33.90155029296875px;
  height: 46.9512939453125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_45 {
  position: absolute;
  width: 25.004150390625px;
  height: 16.954345703125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_46 {
  position: absolute;
  width: 4.8980712890625px;
  height: 8.1046142578125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_47 {
  position: absolute;
  width: 5.6094970703125px;
  height: 8.1046142578125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_48 {
  position: absolute;
  width: 4.322845458984375px;
  height: 8.1046142578125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_49 {
  position: absolute;
  width: 84.84429931640625px;
  height: 14.203369140625px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_50 {
  position: absolute;
  width: 87.7581787109375px;
  height: 9.35791015625px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_51 {
  position: absolute;
  width: 9.16796875px;
  height: 10.6549072265625px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_52 {
  position: absolute;
  width: 56.93829345703125px;
  height: 11.6966552734375px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_53 {
  position: absolute;
  width: 11.19970703125px;
  height: 13.0184326171875px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_54 {
  position: absolute;
  width: 3.7264404296875px;
  height: 4.33447265625px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_55 {
  position: absolute;
  width: 3.7264404296875px;
  height: 4.33447265625px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_56 {
  position: absolute;
  width: 348.8016052246094px;
  height: 21.24853515625px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_57 {
  position: absolute;
  width: 185.02566528320312px;
  height: 21.24853515625px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_58 {
  position: absolute;
  width: 355.8927001953125px;
  height: 74.1146240234375px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_59 {
  position: absolute;
  width: 33.90155029296875px;
  height: 46.9512939453125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_60 {
  position: absolute;
  width: 25.004150390625px;
  height: 16.954345703125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_61 {
  position: absolute;
  width: 4.8980712890625px;
  height: 8.1046142578125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_62 {
  position: absolute;
  width: 5.6094970703125px;
  height: 8.1046142578125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_63 {
  position: absolute;
  width: 4.322845458984375px;
  height: 8.1046142578125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_64 {
  position: absolute;
  width: 93.10870361328125px;
  height: 14.0384521484375px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_65 {
  position: absolute;
  width: 82.0301513671875px;
  height: 9.35791015625px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_66 {
  position: absolute;
  width: 8.33477783203125px;
  height: 9.6907958984375px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_67 {
  position: absolute;
  width: 52.45281982421875px;
  height: 11.407470703125px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_68 {
  position: absolute;
  width: 10.156982421875px;
  height: 1.2225341796875px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_69 {
  position: absolute;
  width: 4.42822265625px;
  height: 2.7060546875px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_70 {
  position: absolute;
  width: 7.9212646484375px;
  height: 8.6962890625px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_71 {
  position: absolute;
  width: 2.5150146484375px;
  height: 0.9080810546875px;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 #s-Path_72 {
  position: absolute;
  width: 3.38720703125px;
  height: 0.9080810546875px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5751631f-e299-4b29-9f19-ff4c385ef126 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}