#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 > #backgroundBox {
  position: absolute;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 > #alignmentBox {
  position: relative;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_1 {
  position: absolute;
  width: 1440.0px;
  height: 1070.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_2 {
  position: absolute;
  width: 835.0001220703125px;
  height: 901.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_3 {
  position: absolute;
  width: 785.0001220703125px;
  height: 731.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_4 {
  position: absolute;
  width: 1.300048828125px;
  height: 719.300048828125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_5 {
  position: absolute;
  width: 1.300048828125px;
  height: 719.300048828125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_6 {
  position: absolute;
  width: 1.300048828125px;
  height: 719.300048828125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_7 {
  position: absolute;
  width: 1.300048828125px;
  height: 719.300048828125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_8 {
  position: absolute;
  width: 1.300048828125px;
  height: 719.300048828125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_9 {
  position: absolute;
  width: 1.300048828125px;
  height: 719.300048828125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_10 {
  position: absolute;
  width: 784.300048828125px;
  height: 1.29998779296875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_11 {
  position: absolute;
  width: 784.300048828125px;
  height: 1.300048828125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_12 {
  position: absolute;
  width: 784.300048828125px;
  height: 1.300048828125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_13 {
  position: absolute;
  width: 784.300048828125px;
  height: 1.300048828125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_14 {
  position: absolute;
  width: 784.300048828125px;
  height: 1.300048828125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_15 {
  position: absolute;
  width: 112.0px;
  height: 36.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_1 {
  position: absolute;
  width: 114.0px;
  height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_33 {
  position: absolute;
  width: 99.001953125px;
  height: 21.25px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_34 {
  position: absolute;
  width: 4.0px;
  height: 36.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_35 {
  position: absolute;
  width: 112.0px;
  height: 36.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_2 {
  position: absolute;
  width: 114.0px;
  height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_53 {
  position: absolute;
  width: 80.498046875px;
  height: 7.239990234375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_54 {
  position: absolute;
  width: 4.0px;
  height: 36.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_55 {
  position: absolute;
  width: 336.0px;
  height: 36.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_3 {
  position: absolute;
  width: 338.0px;
  height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_73 {
  position: absolute;
  width: 74.989990234375px;
  height: 9.03997802734375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_74 {
  position: absolute;
  width: 4.0px;
  height: 36.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_75 {
  position: absolute;
  width: 112.0px;
  height: 36.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_4 {
  position: absolute;
  width: 114.0px;
  height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_93 {
  position: absolute;
  width: 93.14703369140625px;
  height: 8.9599609375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_94 {
  position: absolute;
  width: 4.0px;
  height: 36.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_5 {
  position: absolute;
  width: 114.0px;
  height: 118.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_6 {
  position: absolute;
  width: 114.0px;
  height: 118.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_7 {
  position: absolute;
  width: 114.0px;
  height: 118.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_8 {
  position: absolute;
  width: 114.0px;
  height: 118.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_9 {
  position: absolute;
  width: 112.0px;
  height: 123.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_10 {
  position: absolute;
  width: 112.0px;
  height: 124.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_11 {
  position: absolute;
  width: 112.0px;
  height: 124.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_12 {
  position: absolute;
  width: 114.0px;
  height: 125.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_13 {
  position: absolute;
  width: 114.0px;
  height: 125.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_14 {
  position: absolute;
  width: 114.0px;
  height: 125.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_265 {
  position: absolute;
  width: 17.51397705078125px;
  height: 11.519989013671875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_266 {
  position: absolute;
  width: 17.49798583984375px;
  height: 11.535980224609375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_267 {
  position: absolute;
  width: 17.25799560546875px;
  height: 11.407989501953125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_268 {
  position: absolute;
  width: 17.55999755859375px;
  height: 11.519989013671875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_269 {
  position: absolute;
  width: 17.4300537109375px;
  height: 11.535980224609375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_270 {
  position: absolute;
  width: 17.6500244140625px;
  height: 11.535980224609375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_271 {
  position: absolute;
  width: 6.800048828125px;
  height: 11.279998779296875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_272 {
  position: absolute;
  width: 7.71197509765625px;
  height: 11.407989501953125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_273 {
  position: absolute;
  width: 7.71197509765625px;
  height: 11.519989013671875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_274 {
  position: absolute;
  width: 8.33599853515625px;
  height: 11.279998779296875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_275 {
  position: absolute;
  width: 7.72998046875px;
  height: 11.391998291015625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_276 {
  position: absolute;
  width: 8.050048828125px;
  height: 11.535980224609375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_277 {
  position: absolute;
  width: 7.6300048828125px;
  height: 11.279998779296875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_278 {
  position: absolute;
  width: 8.25px;
  height: 11.519989013671875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_279 {
  position: absolute;
  width: 8.06396484375px;
  height: 11.5360107421875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_280 {
  position: absolute;
  width: 16.66497802734375px;
  height: 11.5360107421875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_281 {
  position: absolute;
  width: 16.39300537109375px;
  height: 11.280029296875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_282 {
  position: absolute;
  width: 16.50994873046875px;
  height: 11.40802001953125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_283 {
  position: absolute;
  width: 16.330078125px;
  height: 11.52001953125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_284 {
  position: absolute;
  width: 16.9200439453125px;
  height: 11.280029296875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_285 {
  position: absolute;
  width: 16.7200927734375px;
  height: 11.39202880859375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_286 {
  position: absolute;
  width: 16.697998046875px;
  height: 11.5360107421875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_287 {
  position: absolute;
  width: 16.45703125px;
  height: 11.280029296875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_288 {
  position: absolute;
  width: 16.760986328125px;
  height: 11.52001953125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_289 {
  position: absolute;
  width: 16.63995361328125px;
  height: 11.5360107421875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_290 {
  position: absolute;
  width: 17.469970703125px;
  height: 11.5360107421875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_291 {
  position: absolute;
  width: 17.199951171875px;
  height: 11.40802001953125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_292 {
  position: absolute;
  width: 17.3099365234375px;
  height: 11.40802001953125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_293 {
  position: absolute;
  width: 17.12896728515625px;
  height: 11.52001953125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_294 {
  position: absolute;
  width: 17.72100830078125px;
  height: 11.40802001953125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_295 {
  position: absolute;
  width: 17.51300048828125px;
  height: 11.52001953125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_296 {
  position: absolute;
  width: 17.50006103515625px;
  height: 11.5360107421875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_297 {
  position: absolute;
  width: 17.260009765625px;
  height: 11.40802001953125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_298 {
  position: absolute;
  width: 17.5599365234375px;
  height: 11.52001953125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_299 {
  position: absolute;
  width: 17.43994140625px;
  height: 11.5360107421875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_300 {
  position: absolute;
  width: 17.6409912109375px;
  height: 11.5360107421875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_301 {
  position: absolute;
  width: 17.3690185546875px;
  height: 11.52001953125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_302 {
  position: absolute;
  width: 6.79998779296875px;
  height: 11.280029296875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_303 {
  position: absolute;
  width: 7.7099609375px;
  height: 11.40802001953125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_304 {
  position: absolute;
  width: 7.7100830078125px;
  height: 11.52001953125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_305 {
  position: absolute;
  width: 8.3299560546875px;
  height: 11.280029296875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_306 {
  position: absolute;
  width: 7.72998046875px;
  height: 11.39202880859375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_307 {
  position: absolute;
  width: 786.0px;
  height: 48.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_308 {
  position: absolute;
  width: 30.9840087890625px;
  height: 10.12200927734375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_309 {
  position: absolute;
  width: 26.35797119140625px;
  height: 9.996002197265625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_310 {
  position: absolute;
  width: 33.25299072265625px;
  height: 9.8699951171875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_311 {
  position: absolute;
  width: 26.81195068359375px;
  height: 9.8699951171875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_312 {
  position: absolute;
  width: 19.469970703125px;
  height: 9.8699951171875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_313 {
  position: absolute;
  width: 25.820068359375px;
  height: 10.12200927734375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_314 {
  position: absolute;
  width: 27.989990234375px;
  height: 10.12200927734375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_315 {
  position: absolute;
  width: 38.13299560546875px;
  height: 12.389999389648438px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_316 {
  position: absolute;
  width: 189.0001220703125px;
  height: 41.00001525878906px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_317 {
  position: absolute;
  width: 68.0px;
  height: 40.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_318 {
  position: absolute;
  width: 20.5999755859375px;
  height: 10.620010375976562px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_319 {
  position: absolute;
  width: 31.300048828125px;
  height: 8.54400634765625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_320 {
  position: absolute;
  width: 33.0999755859375px;
  height: 8.54400634765625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_321 {
  position: absolute;
  width: 1.39990234375px;
  height: 41.399993896484375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_322 {
  position: absolute;
  width: 10.9849853515625px;
  height: 14.00048828125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_323 {
  position: absolute;
  width: 10.98968505859375px;
  height: 14.00048828125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_324 {
  position: absolute;
  width: 184.7259521484375px;
  height: 21.480010986328125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_325 {
  position: absolute;
  width: 277.0px;
  height: 350.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_326 {
  position: absolute;
  width: 14.0px;
  height: 19.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_327 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_15 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_330 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_16 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_333 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_17 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_336 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_337 {
  position: absolute;
  width: 18.59796142578125px;
  height: 8.63201904296875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_338 {
  position: absolute;
  width: 275.41998291015625px;
  height: 1.0999755859375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_339 {
  position: absolute;
  width: 159.447998046875px;
  height: 12.58599853515625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_340 {
  position: absolute;
  width: 103.126953125px;
  height: 12.5159912109375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_341 {
  position: absolute;
  width: 146.0419921875px;
  height: 12.52996826171875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_342 {
  position: absolute;
  width: 161.75799560546875px;
  height: 14.4959716796875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_343 {
  position: absolute;
  width: 241.0px;
  height: 155.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_18 {
  position: absolute;
  width: 243.0px;
  height: 157.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_346 {
  position: absolute;
  width: 287.0000305175781px;
  height: 901.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_347 {
  position: absolute;
  width: 126.0px;
  height: 38.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_348 {
  position: absolute;
  width: 58.964019775390625px;
  height: 10.1300048828125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_349 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_19 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_352 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_20 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_355 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_21 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_358 {
  position: absolute;
  width: 26.0px;
  height: 26.27899169921875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_359 {
  position: absolute;
  width: 17.02197265625px;
  height: 7.1400146484375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_360 {
  position: absolute;
  width: 47.399993896484375px;
  height: 10.010009765625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_361 {
  position: absolute;
  width: 161.86199951171875px;
  height: 8.67596435546875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_362 {
  position: absolute;
  width: 104.65798950195312px;
  height: 8.67596435546875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_363 {
  position: absolute;
  width: 38.0px;
  height: 38.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_22 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_366 {
  position: absolute;
  width: 280.5999755859375px;
  height: 1.5999755859375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_367 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_23 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_370 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_24 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_373 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_25 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_376 {
  position: absolute;
  width: 26.0px;
  height: 26.27899169921875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_377 {
  position: absolute;
  width: 16.48199462890625px;
  height: 7.04998779296875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_378 {
  position: absolute;
  width: 46.910003662109375px;
  height: 10.1500244140625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_379 {
  position: absolute;
  width: 112.10498046875px;
  height: 8.67596435546875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_380 {
  position: absolute;
  width: 77.22000122070312px;
  height: 10.739990234375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_381 {
  position: absolute;
  width: 145.76397705078125px;
  height: 10.72796630859375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_382 {
  position: absolute;
  width: 38.0px;
  height: 38.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_26 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_385 {
  position: absolute;
  width: 280.5999755859375px;
  height: 1.5999755859375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_386 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_27 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_389 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_28 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_392 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_29 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_395 {
  position: absolute;
  width: 26.0px;
  height: 26.27899169921875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_396 {
  position: absolute;
  width: 16.9219970703125px;
  height: 7.23004150390625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_397 {
  position: absolute;
  width: 47.00799560546875px;
  height: 10.1500244140625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_398 {
  position: absolute;
  width: 170.0159912109375px;
  height: 10.72796630859375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_399 {
  position: absolute;
  width: 38.0px;
  height: 38.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_30 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_402 {
  position: absolute;
  width: 280.5999755859375px;
  height: 1.5999755859375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_403 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_31 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_406 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_32 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_409 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_33 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_412 {
  position: absolute;
  width: 26.0px;
  height: 26.27899169921875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_413 {
  position: absolute;
  width: 16.48199462890625px;
  height: 7.129974365234375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_414 {
  position: absolute;
  width: 46.96600341796875px;
  height: 10.010009765625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_415 {
  position: absolute;
  width: 88.59298706054688px;
  height: 10.71600341796875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_416 {
  position: absolute;
  width: 38.0px;
  height: 38.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_34 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_419 {
  position: absolute;
  width: 280.5999755859375px;
  height: 1.5999755859375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_420 {
  position: absolute;
  width: 135.48898315429688px;
  height: 16.272003173828125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_421 {
  position: absolute;
  width: 238.0px;
  height: 43.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_422 {
  position: absolute;
  width: 111.95498657226562px;
  height: 10.009994506835938px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_423 {
  position: absolute;
  width: 128.57501220703125px;
  height: 23.13599395751953px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_424 {
  position: absolute;
  width: 1201.0px;
  height: 70.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_425 {
  position: absolute;
  width: 19.39990234375px;
  height: 19.39999771118164px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_426 {
  position: absolute;
  width: 5.9951171875px;
  height: 4.000003814697266px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_427 {
  position: absolute;
  width: 1.0px;
  height: 5.544000625610352px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_428 {
  position: absolute;
  width: 35.1500244140625px;
  height: 8.580001831054688px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_429 {
  position: absolute;
  width: 44.0px;
  height: 44.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_35 {
  position: absolute;
  width: 46.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_432 {
  position: absolute;
  width: 45.0499267578125px;
  height: 12.530000686645508px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_433 {
  position: absolute;
  width: 8.1650390625px;
  height: 4.6667022705078125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_434 {
  position: absolute;
  width: 40.0px;
  height: 27.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_36 {
  position: absolute;
  width: 42.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_437 {
  position: absolute;
  width: 24.0px;
  height: 18.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_438 {
  position: absolute;
  width: 6.0px;
  height: 6.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_439 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_440 {
  position: absolute;
  width: 6.0999755859375px;
  height: 8.700000762939453px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_441 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_442 {
  position: absolute;
  width: 16.5px;
  height: 12.375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_443 {
  position: absolute;
  width: 388.99993896484375px;
  height: 39.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_444 {
  position: absolute;
  width: 41.14898681640625px;
  height: 10.121999740600586px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_445 {
  position: absolute;
  width: 12.944305419921875px;
  height: 12.944089889526367px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_446 {
  position: absolute;
  width: 6.364990234375px;
  height: 6.365898132324219px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_448 {
  position: absolute;
  width: 240.0px;
  height: 50.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_449 {
  position: absolute;
  width: 45.316993713378906px;
  height: 12.5159912109375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_450 {
  position: absolute;
  width: 16.5px;
  height: 16.5px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_451 {
  position: absolute;
  width: 240.0px;
  height: 50.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_452 {
  position: absolute;
  width: 53.58100891113281px;
  height: 12.6419677734375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_453 {
  position: absolute;
  width: 17.359397888183594px;
  height: 17.8759765625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_454 {
  position: absolute;
  width: 240.60000610351562px;
  height: 1.5999755859375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_455 {
  position: absolute;
  width: 240.0px;
  height: 50.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_456 {
  position: absolute;
  width: 35.59600067138672px;
  height: 9.9959716796875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_457 {
  position: absolute;
  width: 15.125px;
  height: 15.1240234375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_458 {
  position: absolute;
  width: 240.0px;
  height: 50.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_459 {
  position: absolute;
  width: 34.50599670410156px;
  height: 9.9959716796875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_460 {
  position: absolute;
  width: 13.75px;
  height: 15.1240234375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_461 {
  position: absolute;
  width: 240.0px;
  height: 50.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_462 {
  position: absolute;
  width: 78.60299682617188px;
  height: 9.9959716796875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_463 {
  position: absolute;
  width: 17.875px;
  height: 16.5px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_464 {
  position: absolute;
  width: 240.0px;
  height: 50.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_465 {
  position: absolute;
  width: 44.2239990234375px;
  height: 10.00994873046875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_466 {
  position: absolute;
  width: 19.25px;
  height: 14.6090087890625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_467 {
  position: absolute;
  width: 240.0px;
  height: 50.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_468 {
  position: absolute;
  width: 50.31500244140625px;
  height: 10.1219482421875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_469 {
  position: absolute;
  width: 20.625px;
  height: 12.3759765625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_470 {
  position: absolute;
  width: 240.0px;
  height: 50.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_471 {
  position: absolute;
  width: 40.58100128173828px;
  height: 9.9959716796875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_472 {
  position: absolute;
  width: 13.75px;
  height: 17.18798828125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_473 {
  position: absolute;
  width: 240.0px;
  height: 50.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Mask_37 {
  position: absolute;
  width: 242.0px;
  height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_477 {
  position: absolute;
  width: 58.76200866699219px;
  height: 10.1219482421875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_478 {
  position: absolute;
  width: 15.125px;
  height: 15.81201171875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_479 {
  position: absolute;
  width: 240.0px;
  height: 50.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_480 {
  position: absolute;
  width: 43.45299530029297px;
  height: 12.529998779296875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_481 {
  position: absolute;
  width: 16.5px;
  height: 15.81201171875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_482 {
  position: absolute;
  width: 38.66279983520508px;
  height: 8.675994873046875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_483 {
  position: absolute;
  width: 240.60000610351562px;
  height: 1.5999755859375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_484 {
  position: absolute;
  width: 240.0px;
  height: 50.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_485 {
  position: absolute;
  width: 91.49300384521484px;
  height: 10.12200927734375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_486 {
  position: absolute;
  width: 15.8125px;
  height: 15.1240234375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_487 {
  position: absolute;
  width: 240.0px;
  height: 50.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_488 {
  position: absolute;
  width: 72.01899719238281px;
  height: 10.12200927734375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_489 {
  position: absolute;
  width: 16.32809829711914px;
  height: 15.21099853515625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_490 {
  position: absolute;
  width: 240.0px;
  height: 50.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_491 {
  position: absolute;
  width: 35.29399871826172px;
  height: 9.996002197265625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_492 {
  position: absolute;
  width: 19.25px;
  height: 17.272994995117188px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_493 {
  position: absolute;
  width: 240.0px;
  height: 50.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_494 {
  position: absolute;
  width: 58.641990661621094px;
  height: 10.010009765625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_495 {
  position: absolute;
  width: 19.25px;
  height: 16.584991455078125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_496 {
  position: absolute;
  width: 240.0px;
  height: 50.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_497 {
  position: absolute;
  width: 56.946998596191406px;
  height: 9.996002197265625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_498 {
  position: absolute;
  width: 15.125px;
  height: 15.123992919921875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_499 {
  position: absolute;
  width: 240.0px;
  height: 50.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_500 {
  position: absolute;
  width: 70.24700164794922px;
  height: 9.996002197265625px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_501 {
  position: absolute;
  width: 16.5px;
  height: 16.5px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_447 {
  position: absolute;
  width: 241.18443298339844px;
  height: 1073.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_502 {
  position: absolute;
  width: 244.86651611328125px;
  height: 2.0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_503 {
  position: absolute;
  width: 16.628135681152344px;
  height: 12.232879638671875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_504 {
  position: absolute;
  width: 20.907808303833008px;
  height: 10.213235855102539px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_1 {
  position: absolute;
  width: 234.5895480487855px;
  min-height: 62.01106333494181px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #702DFF;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_2 {
  position: absolute;
  width: 41.26391090547335px;
  min-height: 36.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_505 {
  position: absolute;
  width: 9.2431640625px;
  height: 1.9128875732421875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_506 {
  position: absolute;
  width: 9.2431640625px;
  height: 1.912872314453125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_507 {
  position: absolute;
  width: 15.965473175048828px;
  height: 22.954959869384766px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_3 {
  position: absolute;
  width: 95.07970420413956px;
  min-height: 68.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_508 {
  position: absolute;
  width: 25.74266242980957px;
  height: 12.16424560546875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_509 {
  position: absolute;
  width: 6.701747894287109px;
  height: 6.795745849609375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_510 {
  position: absolute;
  width: 8.953414916992188px;
  height: 9.07900619506836px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_511 {
  position: absolute;
  width: 6.70172119140625px;
  height: 6.795745849609375px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_512 {
  position: absolute;
  width: 18.8425350189209px;
  height: 21.19999885559082px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_513 {
  position: absolute;
  width: 18.125574111938477px;
  height: 20.3946533203125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_514 {
  position: absolute;
  width: 7.192638397216797px;
  height: 8.092540740966797px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Input_text_1 input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Input_text_1 input::-moz-placeholder {
  color: #FFFFFF;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Input_text_1 input:-moz-placeholder {
  color: #FFFFFF;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Input_text_1 input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Input_text_1 {
  position: absolute;
  width: 241.1844351726586px;
  height: 74.20000000000005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Input_text_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Input_text_1 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 57px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_515 {
  position: absolute;
  width: 17.51615333557129px;
  height: 19.520000457763672px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_2 {
  position: absolute;
  width: 235.1950669537134px;
  min-height: 62.01106333494192px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #702DFF;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_8 {
  position: absolute;
  width: 119.79913827450493px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_516 {
  position: absolute;
  width: 9.351058959960938px;
  height: 1.9128875732421875px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_517 {
  position: absolute;
  width: 9.351058959960938px;
  height: 1.912872314453125px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_518 {
  position: absolute;
  width: 16.151836395263672px;
  height: 22.954959869384766px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_3 {
  position: absolute;
  width: 246.83719537201767px;
  min-height: 62.01106333494192px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_7 {
  position: absolute;
  width: 119.79913827450493px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_7 span {
  color: #702DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #702DFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Path_519 {
  position: absolute;
  width: 20.142532348632812px;
  height: 22.055809020996094px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_5 {
  position: absolute;
  width: 41.796875px;
  min-height: 18.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Hotspot_1 {
  position: absolute;
  width: 83.00000000000011px;
  height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 #s-Hotspot_2 {
  position: absolute;
  width: 108.99999999999989px;
  height: 34.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2d0cf8f0-c503-4ba8-bed8-c234f76a4549 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}